# ── Installer generado ────────────────────────────────────────────────────────
installer/dist/
installer/output/
installer/node-win.zip
installer/node-tmp/

# ── Node ─────────────────────────────────────────────────────────────────────
node_modules/

# ── Entornos ──────────────────────────────────────────────────────────────────
.env
.env.local
.env.production
.env.desktop

# ── Builds ───────────────────────────────────────────────────────────────────
dist/
.next/
/out/
/build

# ── Misc ─────────────────────────────────────────────────────────────────────
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
*.tsbuildinfo
